:root {
  --primario: #f92a82;
  --secundario: #ed7b84;
  --terceario: #f5dbcb;
  --cuarto: #d6d5b3;
  --quinto: #7eb77f;
}


html {
  height: 100%;
  width: 100%;
}

.carousel-item img {
  height: 450px;
  /* Define la altura fija del carrusel */
  object-fit: cover;
  /* Recorta la imagen para que llene el espacio sin deformarse */
  object-position: center;
  /* Centra el recorte para que no se pierda lo importante */
}


.imagen-principal{

/* abarca toda mi imagen */
    height: 100vh;

    background-image:
        linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
        url("picture/hola.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo{
    color: #f92a82;
    font-family: Georgia, serif;
}

.titulo span{
    color: #f92a82;
}

.subtitulo{
    color: #f5dbcb;
}

/* body{
    background-color: var(--primario);
  }
   */

.navegador {
  display: flex;
  justify-content: center;
  background-color: #7eb77f;
}

.navtexto {
  font-size: 20px;
  font-weight: 400;
}


.navbar-nav .nav-link.navtexto:hover {
  
  color: var(--primario) !important;
  font-weight: bold;
}


