
:root{
  --primario: #f92a82;
  --secundario: #ed7b84;
  --terceario: #f5dbcb;
  --cuarto: #d6d5b3;
  --quinto: #7eb77f;
}


html {
    height: 100%;
    width: 100%;
  }


  /* ================= HEADER ================= */
.imagen-principal{

/* abarca toda mi imagen */
    height: 100vh;

    background-image:
        linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
        url("picture/hola.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo{
    color: #f92a82;
    font-family: Georgia, serif;
}

.titulo span{
    color: #f92a82;
}

.subtitulo{
    color: #f5dbcb;
}