
:root{
  --primario: #f92a82;
  --secundario: #ed7b84;
  --terceario: #f5dbcb;
  --cuarto: #d6d5b3;
  --quinto: #7eb77f;
}


html {
    height: 100%;
    width: 100%;
  }


  /* body{
    background-color: var(--primario);
  }
   */

/* Footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-footer {
    margin-top: auto; /* Empuja el footer al fondo */
    background-color: var(--quinto);
    color: var(--primario);
    padding: 20px 0;
    font-family: sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
/* Footer */